<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery-3.4.1.js"></script>
    <script src="/static/angular.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        var app = angular.module('accountApp',[]);

        var year = new Date().getFullYear();
        var month = new Date().getMonth()+1;
        function loadData($http, $scope) {
            $http({
                method: 'GET',
                params: {
                    'username': '542064784',
                    'year': year,
                    'month': month
                },
                url: '/transaction/find-information'
            }).then(function onSuccess(response) {
                $scope.transactionInformationDtoList = response.data.transactionInformationDtoList;
                $scope.monthTotalDtoList = response.data.monthTotalDtoList;
                $scope.balance = response.data.balance;
                $scope.year = response.data.year;
                $scope.month = response.data.month;
                $scope.monthIncome = response.data.monthIncome;
                $scope.monthConsumption = response.data.monthConsumption;
                $scope.transactionTypes = response.data.transactionTypes;
            })
        }

        app.controller('accountController',function ($scope,$http) {
            $scope.init = function () {
                loadData($http, $scope);
            };

            $scope.search = function () {
                year = $scope.year;
                month = $scope.month;
                loadData($http, $scope);
            };

            $scope.delete = function (id) {
                $http({
                    method: 'GET',
                    params:{
                        'id':id
                    },
                    url:'/transaction/delete-transaction'
                }).then(function successCallback() {
                    year = $scope.year;
                    month = $scope.month;
                    loadData($http, $scope);
                }, function errorCallback(response) {
                    alert(response);
                }) ;
            };

            $scope.add = function () {
                $http({
                    method: 'POST',
                    data:{
                        'year':$scope.year,
                        'month':$scope.month,
                        'dayOfMonth':$scope.dayOfMonth,
                        'money':$scope.money,
                        'transactionType':$scope.transactionType,
                        'description':$scope.description
                    },
                    url:'/transaction/save-transaction'
                }).then(function successCallback() {
                    year = $scope.year;
                    month = $scope.month;
                    loadData($http, $scope);
                }, function errorCallback(response) {
                    alert(response);
                }) ;
            }
        })
    </script>
</head>
<body ng-app="accountApp" ng-controller="accountController" ng-init="init()">
    <div class="container-fluid">
        年:<input type="text" ng-model="year" style="width: 50px"/>
        月:<input type="text" ng-model="month" style="width: 50px"/>
        日:<input type="text" ng-model="dayOfMonth" style="width: 50px"/>
        金额:<input type="text" ng-model="money" style="width: 100px"/>
        消费类型:<select ng-init="transactionType = transactionTypes[0]"
                     ng-model="transactionType" ng-options="x for x in transactionTypes" style="width: 100px">
                </select>
        详情:<input type="text" ng-model="description" style="width: 500px"/>
        <button type="submit" ng-click="add()">添加</button>
        <button type="submit" ng-click="search()">查询</button>

        <table id="information" class="table table-bordered">
            <tr>
                <th>日期</th>
                <th>金额</th>
                <th>消费类型</th>
                <th>详情</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="accountInformation in transactionInformationDtoList">
                <td>{{accountInformation.year}}/{{accountInformation.month}}/{{accountInformation.dayOfMonth}}</td>
                <td>{{accountInformation.money}}</td>
                <td>{{accountInformation.transactionType}}</td>
                <td>{{accountInformation.description}}</td>
                <td>{{accountInformation.createDate}}</td>
                <td><button type="submit" ng-click="delete(accountInformation.id)">删除</button></td>
            </tr>
        </table>
        {{year}}年{{month}}月总计：
        <p ng-repeat="monthTotal in monthTotalDtoList">
            {{monthTotal.transactionType}} : {{monthTotal.money}}
        </p>
        共收入{{monthIncome}}元，共支出{{monthConsumption}}元
        <p>
            余额 : {{balance}}
        </p>
    </div>
</body>
</html>